@page "/detailedlist"
@inherits EmployeeListBase
@attribute [Authorize]

<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Pokaż stopkę</label>
@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter"
                             OnEmployeeDeleted="EmployeeDeleted">

            </DisplayEmployee>
        }
    </div>
}
