<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">EmployeesManagementSystem</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="employeelist" Match="NavLinkMatch.All">
                        <span class="oi oi-list" aria-hidden="true"></span> Lista pracowników
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="detailedlist" Match="NavLinkMatch.All">
                        <span class="oi oi-list" aria-hidden="true"></span> Pracownicy - kafelki
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/editemployee" Match="NavLinkMatch.All" @onclick="HandleClick">
                        <span class="oi oi-file" aria-hidden="true"></span> Nowy
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/editemployee/1" Match="NavLinkMatch.All">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Edytuj
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/schedule" Match="NavLinkMatch.All">
                        <span class="oi oi-tablet" aria-hidden="true"></span> Grafik
                    </NavLink>
                </li>
                }
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/identity/account/logout" Match="NavLinkMatch.All">
                        <span class="oi oi-power-standby" aria-hidden="true"></span> Wyloguj
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/identity/account/login" Match="NavLinkMatch.All">
                        <span class="oi oi-lock-locked" aria-hidden="true"></span> Zaloguj
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    @inject NavigationManager NavigationManager;
    private void HandleClick()
    {
        NavigationManager.NavigateTo("editemployee", true);

    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
